.button{
  margin-top: 10px !important;
  margin-right: 30px;
  margin-bottom: 10px !important;
  float: right;
}

.refresh_button{
  margin-right: 8px;
  font-size: 16px;
  height: 40px;
}

.ivu-input{
  width: 220px;
}

.ivu-btn-primary{
  font-size: 16px;
  height: 40px;
}

.ivu-table-wrapper{
  margin: 0 20px 20px;
  box-shadow:0 0 4px rgba(0,0,0,0.3),0 0 10px rgba(0,0,0,0.1) inset;
}

#className{
  float: left;
  font-size: 1.5em;
  margin-left: 2%;
  margin-top: 1%;
}
